.submitContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  width: 100%;
}

.infoBox {
  margin-top: 50px;
  width: 100%;
  background-color: var(--neutral-300);
  border-radius: 4px;
  padding: 12px;
}

.selectOptions {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;

  &:hover {
    background-color: var(--primary-200);
  }
}

.selectTitle {
  text-transform: capitalize;
}

.mainStyle > div {
  padding: 50px;
}

.json {
  background-color: var(--neutral-900);
  padding: 20px;
  margin-top: 50px;
  border-radius: 8px;
  color: var(--primary-100);
}

.containerPill {
  display: flex;
  align-items: center;
}

.footer {
  bottom: 0;
  padding: 15px;
  background-color: #fff;
  left: 0;
  position: fixed;
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.socialMediaLinks {
  cursor: pointer;
  color: var(--netural-1100);
}
