@import "../../../styles/mixings.scss";

.button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 38px;
  cursor: pointer;
  transition: 0.3s;
  padding: 8px 14px 8px 14px;
  font-family: var(--main-font);
  background: var(--primary-100);
  color: var(--neutral-1000);
  font-size: 14px;
  font-weight: 500;

  &.buttonStateDisabled {
    color: var(--neutral-900);
    background-color: var(--primary-300);
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.secundary {
    border: 1px solid var(--neutral-0);
    color: var(--neutral-0);
    background: transparent;
  }
}

.isButtonLink {
  color: var(--neutral-0);
  text-decoration: underline;
  cursor: pointer;
  font-family: var(--main-font);
  background: none;
  border: none;
  padding: 0;

  &.iconContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.iconLeft {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.iconRight {
  display: flex;
  align-items: center;
  margin-left: 2px;
  width: 20px;
}

.linkText {
  margin-right: 10px;
}

.buttonStateSuccess {
  color: #fff;
  background: #569e3d linear-gradient(#79d858, #569e3d) repeat-x;
}

.small {
  width: 100px;
  display: flex;
  justify-content: center;
}

.medium {
  width: 200px;
  display: flex;
  justify-content: center;
}

.large {
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerLoading {
  transition: 0.3s;
  margin-left: -25px;
  margin-right: 10px;
}

.text {
  transition: 0.3s;
}

.iconPrimary {
  display: flex;
  margin-left: 10px;
}
